/* make text green */
*{
    color: green;
    text-align: center;
}
/* increase font size of text */
p, a, footer, label, button, input{
    font-size: large;
}
/* add padding above footer */
footer{
    padding-top: 10pt;
}